* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir next, Hiragano sans, Century gothic;
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

.container {
    background-color: rgb(18, 18, 18);
}

.landing,
.aboutMeInfo,
.mySkillsInfo,
.experienceInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
    background: rgb(18, 18, 18);
    color: #b0b0b0;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #0e0e0e;
    z-index: 5;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    font-size: 26px;
    width: 60px;
    height: 60px;
    background-color:mediumslateblue;
    color: rgb(191, 191, 191);
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    border: 4px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 99;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;  
}
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
  

.logo{
    margin-left: 80px;
    color: #b0b0b0;
    text-transform: uppercase;
    letter-spacing: 30px;
    font-size: 70px;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.navLinks a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navLinks a:hover{
    color: white;
    transition: ease 0.7s;

}

.burger {
    display: none;
    z-index: 5;
}

.burger div{
    width: 25px;
    z-index: 3;
    height: 2px;
    background-color: #b0b0b0;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 600px){
    body{
        display:none;
    }
}

@media screen and (max-width: 780px){
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .navLinks{
        padding-top: 120px;
        margin-right: 0;
        padding-bottom: 120px;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #252627;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        z-index: 5;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navLinks li{
        opacity:0;
    }
    .burger{
        display: block;
        margin-right: 40px;
        cursor: pointer;
        z-index: 19;
    }

    .buttons a {
        width: 50%;
    }
    .deskPhoto1{
        width: 71vw;
    }

    .card {
        display: block;
    }
    #back-to-top-btn {bottom: 20px; right: 20px; }
}

@media screen and (max-width: 1450px){
    .socialButtons{
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-flow: wrap;
    }
}

.navActive {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from  {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

header h1,
header a,
.mainInfo p,
.about h1,
.skills h1,
.projects h1,
.experience h1,
.contact h1 {
    color: #b0b0b0;
}

li{
    list-style: none;
    margin-left: 30px;
}
#home{
    position: relative;
}

#particleDiv{
    position: relative;
    top: -100px;
    height: 1400px;
    background-image: url(images/landing1.png);
    background-size: cover;
    z-index: -1;
}

.mainInfo{
    top: 0;
    margin-top: 80px;
    margin-left: 80px;
    width: 70vw;
    background-color: #121212;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.7);
    padding: 50px;
    position: absolute;
    z-index: 2;
}

.mainInfo h1{
    color: #b0b0b0;
    font-size: 3rem;
    letter-spacing: 1px;
    cursor: context-menu;
}

.mainInfo p{
    margin-top: 50px;
    margin-bottom: 50px;
    position: sticky;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 1.5rem;
}

.mainInfo a:hover{
    color: rgb(188, 146, 192);
    transition: ease 0.4s;
}

.mainInfo a:hover::before{
   height: 100% 
}

.mainInfo a{
    color: inherit;
    text-decoration: none;
}

.mainInfo span{
    display: inline-block;
}

#profilePhoto{
    position: relative;
    object-fit: cover;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.548);
    border: 1px black solid;
    object-position: 0% 0%;
    margin-top: 30px;
    max-height: 400px;
    height: 25vw;
    z-index:1;
}

span.mLeft, a.mLeft{
    color: mediumslateblue;
}

span.mLeft:hover{
    color: rgb(188, 146, 192);
    transition: ease .5s;
}

span.name{
    color: mediumslateblue;
}

span.tags{
    color: mediumslateblue;
}

.buttons a{
    padding: 12px 25px;
    text-align: center;
    width: 160px;
    background-color: none;
    border: 3px solid mediumslateblue;
    color: rgb(153, 138, 237);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 10px;
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
}

.buttons a:hover{
    color: white;
}

.buttons a::before{
    content: ' ';
    background-color: mediumslateblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 0.5s;
}

.socialButtons{
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}

.gradient{
    position: relative;
    top: -200px;
    background: linear-gradient(rgba(255, 0, 0, 0),rgba(18,18,18));
    height: 200px;
    width: 100vw;
    z-index: 3;
}

.deskPhoto1 img{
    width: 700px;
    height: 480px;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.5);
    position: relative;
    top: -150px;
    right: -69%;
    transform: translate(-50%);
    object-fit: cover;
    object-position: 100% 9%;    
    z-index: 7;
}

.deskPhoto2 img{
    width: 700px;
    height: 480px;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.5);
    position: relative;
    top: -550px;
    right: -63%;
    transform: translate(-50%);
    object-fit: cover;
    object-position: 100% 9%;    
    z-index:0;
}
.about{
    position: relative;
    top: -170px;
    height: 100vh;
}

.about h1 {
    text-align: center;
}

.about h1, .skills h1, .projects h1,
.experience h1,.contact h1{
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.aboutMeInfo{
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(10, 10, 10, 15);
    padding:60px;
    padding-bottom: 200px;
    position: relative;
    top: 30px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.aboutMeInfo p{
    font-size: 1.3rem;
    line-height: 2.3rem;
    padding-bottom: 30px;
    color: #b0b0b0;
}

.aboutMeInfo p:nth-child(2),
.aboutMeInfo p:last-child{
    margin-top: 30px;
}

.skills{
    margin-top: 400px;
    height: 100vh;
}

.skills p{
    text-align: left;
    line-height: 2.3rem;
}

.skills h1, .contact h1{
    text-align: right;
    margin-right: 15%;
    font-size: 10rem;
    opacity: .1;
}

.mySkillsInfo {
    font-size: 1.4rem;
    color: #b0b0b0;
    max-width: 800px;
    position: relative;
    left: 50%;
    right:50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
    margin-left: 75px;
}

.altium {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;   
}

.spice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;   
}

.python {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;   
}

.C {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;   
}

.matlab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;   
}

div [class^= 'tag-']{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: mediumslateblue;
    margin-right: 30px;
    margin-top: 3rem;
}

div[class^= 'tag-'] p{
    color: white;
    text-align: left;
    padding-left: 1.4em;
    font-size: 1.1rem;
    padding-top: 3px;
}

.progressbar {
    position: relative;
    width: 50%;
    height: 20px;
    border: 2px solid mediumslateblue;
    border-radius: 20px;
    margin-top: 3.4rem;
}

.bar-altium {
    position: absolute;
    background-color: mediumslateblue;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
    width: 90%;
    animation: bar-altium 2s;
}

@keyframes bar-altium {
    0%{ width: 0%;}
    100%{width: 90%;}
}

.bar-spice{
    position: absolute;
    background-color: mediumslateblue;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
    width: 90%;
    animation: bar-spice 2s;
}

@keyframes bar-spice {
    0%{ width: 0%;}
    100%{width: 90%;}
}

.bar-C{
    position: absolute;
    background-color: mediumslateblue;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
    width: 60%;
    animation: bar-C 2s;
}

@keyframes bar-C {
    0%{ width: 0%;}
    100%{width: 60%;}
}

.bar-python{
    position: absolute;
    background-color: mediumslateblue;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
    width: 50%;
    animation: bar-python 2s;
}

@keyframes bar-python {
    0%{ width: 0%;}
    100%{width: 50%;}
}

.bar-matlab {
    position: absolute;
    background-color: mediumslateblue;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
    width: 70%;
    animation: bar-matlab 2s;
}

@keyframes bar-matlab {
    0%{ width: 0%;}
    100%{width: 70%;}
}



.projects{
    
    margin-left: 80px;
    padding: 0 2rem;
}

.projects h1{
    margin-bottom: 100px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    background: none;
    margin-bottom: 3rem;
}

.card h3 {
    top: 0;
    color: mediumslateblue;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.card h4{
    font-size: 1.4rem;
    opacity: .3;
    color: #b0b0b0;
    margin-bottom: 0.5rem;
}
.card p{
    line-height: 38px;
    font-size: 1.5rem;
}
.card img {
    height: 30vw;
    margin-top: 40px;
    max-width: 80%;
    object-fit: cover;
    border: 2px solid rgb(116, 92, 249);
}
  
.card > div {
    padding: 2rem;
}
  
.card:nth-child(even) img {
    order: 2;
}
  
.experience{
    margin-top: 300px;
}

.experience h1{
    margin-left: 80px;
}
.experienceInfo{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
    background-color: none;
}
.experienceInfo::before{
    content: '';
    position: absolute;
    left: 48%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.experienceInfo ul{
    margin-right: 80px;
    padding: 0;
}

.experienceInfo ul li{
    line-height: normal;
    position: relative;
    width: 46%;
    padding: 20px 40px;
    box-shadow: border-box;
}

.experienceInfo ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.experienceInfo ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.experienceInfo.content{
    padding-bottom: 20px;
}

.experienceInfo ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 28px;
    right:-33px;
    width: 10px;
    height: 10px;
    background: mediumslateblue;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.experienceInfo ul li:nth-child(even)::before{
    content: ' ';
    position: absolute;
    top: 28px;
    left: -21px;
    width: 10px;
    height: 10px;
    background: mediumslateblue;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.experienceInfo ul li h3{
    margin-top: 20px;
    padding: 0;
    color:mediumslateblue;
}

.experienceInfo ul li p{
    margin: 10px 0 0;
    padding: 0;
    box-sizing: border-box;
}

.experienceInfo ul li .time h4{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.experienceInfo ul li:nth-child(even) .time{
    position: relative;
    width: 140px;
    right: 0px;        
    margin: 0;
    padding: 8px 16px;
    background: mediumslateblue;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 0 1.8px rgba(137, 108, 167, 0.712);
}

.experienceInfo ul li:nth-child(odd) .time{
    position: relative;
    width: 140px;
    top: 0px;
    left: 200px;        
    margin: 0;
    padding: 8px 16px;
    background: mediumslateblue;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 0 1.8px rgba(137, 108, 167, 0.712);
}

.contact{
    margin-top: 250px;
    padding-bottom: 200px;
}

.contact h1{
    text-align: center;
    font-size: 10rem;
    opacity: .1;
    margin: 20px 0;
}

form input, form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child{
    width: 150px;
    padding: 12px 25px;
    background-color: none;
    border: 3px solid mediumslateblue;
    cursor: pointer;
    color: rgb(153, 138, 237);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 10px;
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
}

form input:last-child:hover{
    color: white;
}

form input:last-child::before{
    content: ' ';
    background-color: mediumslateblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 0.5s;
}

footer hr{
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p{
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding:30px 0;
}







































